<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FFXIV 文本检索</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <noscript>
    <p>请打开浏览器的 JavaScript 支持。</p>
  </noscript>

  <script nomodule>
    document.write('<h1>您的浏览器不受支持。请使用新版本浏览器访问。</h1>')
  </script>

  <div id="app" v-cloak>
    <div class="search">
      <input type="text" placeholder="检索词" v-model="query">
    </div>
    <div class="message">当前数据版本: 4.40 |
      <span v-if="loading">正在搜索……</span>
      <span v-else>共搜索到 {{total}} 条数据</span></div>
    <div class="results">
      <table>
        <tr v-for="result in results"
            :class="{highlight: result.index === highlightLine}">
          <td class="meta">
            <span class="filename">{{result.filename | cleanFilename}}</span>
            <br><span class="lineno">#{{result.index}}</span>
            <span>&nbsp;</span>
            <a href="javascript:;" @click="file(result.filename, result.index)">搜索上下文</a>
          </td>
          <td v-if="result.cnh" class="text" v-html="result.cnh"></td>
          <td v-else class="text">{{result.cn | tToN}}</td>
          <td v-if="result.enh" class="text" v-html="result.enh"></td>
          <td v-else class="text">{{result.en | tToN}}</td>
          <td v-if="result.jah" class="text" v-html="result.jah"></td>
          <td v-else class="text">{{result.ja | tToN}}</td>
        </tr>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js" integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>
  <script src="scripts/app.js"></script>
</body>
</html>
